.flex-example {
    margin: 8px;
    div { 
        padding: 15px; 
        border: 1px solid rgba(#01579b,.25); 
    }
}

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
    div {
        border: 1px solid rgba(#01579b,.25);
    }

    .bd-highlight {
        background-color: rgba(#01579b,.15);
        border: 1px solid rgba(#01579b,.25);
    }
}

// .dark-theme .bd-highlight {
//     background-color: rgba(#8bc34a,.15);
//     border-color: rgba(#8bc34a,.25);
// } 

// .solarized-dark-theme .bd-highlight {
//     background-color: rgba(#cb4b16,.15);
//     border-color: rgba(#cb4b16,.25);
// } 

.dark-theme {
    .flex-example div {
        border-color: rgba(#8bc34a,.25);
    }
    
    .bd-highlight {
        background-color: rgba(#8bc34a,.15);
        border-color: rgba(#8bc34a,.25);
    } 
}

.solarized-dark-theme {
    .flex-example div {
        border-color: rgba(#cb4b16,.25);
    }
    
    .bd-highlight {
        background-color: rgba(#cb4b16,.15);
        border-color: rgba(#cb4b16,.25);
    } 
    
}

