<h4 class="section-header" id="header">Thing 1</h4>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="">Message</label>
          <input type="text" appSpecialCharFilter class="form-control" [ngModel]="message" (ngModelChange)="message = $event" />
        </div>
      </div>
    </div>
    <button mat-raised-button color="accent" (click)="openDialog()">
      <mat-icon>open_in_new</mat-icon> Open Dialog
    </button>
  </div>
</div>
<div class="mt-5 mb-5">
  <mat-divider></mat-divider>
</div>
<div class="row mb-5">
  <div class="col-12">
    <button *ngIf="!loading" mat-raised-button color="primary" (click)="showLoader()">
      <mat-icon>refresh</mat-icon> Show Loader
    </button>
    <button *ngIf="loading" mat-raised-button color="primary" (click)="hideLoader()">
      <mat-icon>close</mat-icon> Resolve Loader
    </button>
    <button *ngIf="!erroring" class="ml-2" mat-raised-button color="warn" (click)="triggerError()">
      <mat-icon>error_outline</mat-icon> Trigger Error
    </button>
    <button *ngIf="erroring" class="ml-2" mat-raised-button color="warn" (click)="resolveError()">
      <mat-icon>stop</mat-icon> Resolve Error
    </button>
  </div>
    <div class="col-6 pt-3">
      <div class="form-group">
        <label for="CustomError">Enter custom error message</label>
        <div class="input-group">
          <input type="text" maxlength="500" spellcheck="false" appSpecialCharFilter 
            class="form-control" name="customError" id="customError"
            [ngModel]="customErrorMessage"  (ngModelChange)="customErrorMessage = $event">
            <button id="error-button" [disabled]="" (click)="raiseError()" type="button"
                mat-button color="warn">
                <mat-icon>error</mat-icon>
              </button>
        </div>
        <div class="small font-italic text-left">{{500 - customErrorMessage?.length}} chars left</div>
        <div class="mt-5">
          <a mat-raised-button color="primary" style="text-decoration: none;" href="http://apps.dev.ameriben.com/appmanager/#/logs/live" target="_blank">View AppManager Logs</a>
        </div>
      </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="row mt-5">
  <div class="col-6">
    <label>Active Directory Search</label>
    <mat-form-field class="employee-search">
      <form [formGroup]="employeeFormGroup">
      <input type="text" 
          formControlName="employeeCtrl"
          autocomplete="off"
          spellcheck="false"
          placeholder="Employee" 
          matInput
          [(ngModel)]="employee" 
          [matAutocomplete]="auto1" 
          (onDebounce)="searchEmployees($event)">
          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayWith" (optionSelected)="selectedEmployee($event.option.value)">
              <mat-option *ngFor="let e of filteredEmployees" [value]="e">
                  {{e.fullName}}
              </mat-option>
          </mat-autocomplete>
      </form>
    </mat-form-field>
    <button
      *ngIf="filteredEmployees?.length > 0" 
      mat-icon-button 
      color="warn" 
      (click)="clear()"
      matTooltip="Clear Results"
      >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
