<h4 class="section-header" id="header">
    Item
  </h4>
  <form #form="ngForm" id="form" *ngIf="thing" autocomplete="off">
      <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" maxlength="25" spellcheck="false" appSpecialCharFilter 
                class="form-control" name="Name" id="Name"
                [ngModel]="thing.name" (ngModelChange)="thing.name = $event">
              <div class="small font-italic text-right">{{20 - thing?.name?.length}} chars left</div>
            </div>
          </div>
          <div class="col-3">
              <label for="Type">Type</label>
              <select class="form-control" name="Type" id="Type" [(ngModel)]="thing.typeId">
                  <option *ngFor="let x of types" [ngValue]="x.id">{{x.description}}</option>
              </select>
          </div>
          <div class="col align-right">
            <label class="hidden">Save</label>
            <button id="save-button" (click)="save()" [disabled]="form.untouched || form.invalid" class="" type="button"
              mat-raised-button color="accent">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" maxlength="50" spellcheck="false" appSpecialCharFilter
              class="form-control" name="description" id="description"
                [ngModel]="thing.description" (ngModelChange)="thing.description = $event"></textarea>
              <div class="small font-italic text-right">{{50 - thing?.description?.length}} chars left</div>
            </div>
          </div>
      </div>
  </form>
  
  <div class="spacer"></div>
  <hr>
  <div class="spacer"></div>
  <div class="row mt-3">
    <div class="col-6">
      <label class="tag-field-label">Tags
        <button mat-icon-button matTooltip="Add Tag" class="tag-field-button" (click)="newTagDialog()">
          <mat-icon color="primary" class="small">add</mat-icon>
        </button>
      </label>
      <mat-chip-list aria-label="doc tags">
        <mat-chip *ngFor="let t of thing?.tags; let i = index">
          {{t.description}}
          <mat-icon class="remove-tag" (click)="removeTag(i)" color="warn">close</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>


<hr>
  <h3>thing</h3>
  <pre>{{thing | json}}</pre>