<div class="row mr-0 ml-0 pt-3">
    <div class="col">
      <div class="form-group">
        <p>The Hipster Ipsum JSON API is a REST interface for generating meaty lorem ipsum text and can be used by any application.</p>
        <button mat-raised-button color="primary" (click)="fetchHipster()">
          <mat-icon>directions_run</mat-icon> Fetch Hipster
        </button>
        </div>
    </div>
    <div class="col-2 align-right">
      <label *ngIf="ipsums.length > 0">Rows of Hipster: {{ipsums.length}}</label>
    </div>
  </div>
  <div class="spacer">
    <hr />
  </div>
  <div class="row mr-0 ml-0 pt-3">
<div class="col" *ngIf="ipsums">
  <p *ngFor="let b of ipsums">{{b}}</p>
</div>
</div>

<div class="row mr-0 ml-0 pt-3">
<label>Sharing between components with a service</label>
  <textarea class="form-control" [(ngModel)]="service.testArray"></textarea>
</div>