<h4 class="section-header" id="header">Thing 2</h4>
<div class="row">
  <div class="col">

<mat-tab-group animationDuration="0">
  <mat-tab label="Bacon Ipsum"> 
    <!-- YOU CAN HAVE INLINE CONTENT OR SEE TAB 2-->
        <div class="row mr-0 ml-0 pt-3">
          <div class="col">
            <div class="form-group">
              <p>The Bacon Ipsum JSON API is a REST interface for generating meaty lorem ipsum text and can be used by any application.</p>
              <button mat-raised-button color="primary" (click)="fetchBacon()">
                <mat-icon>directions_run</mat-icon> Fetch Bacon
              </button>
              </div>
          </div>
          <div class="col-2 align-right">
            <label *ngIf="bacons.length > 0">Strips of Bacon: {{bacons.length}}</label>
          </div>
        </div>
        <div class="spacer">
          <hr />
        </div>
        <div class="row m-0 pt-3">
      <div class="col" *ngIf="bacons">
        <p *ngFor="let b of bacons">{{b}}</p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Hipster Ipsum">
    <!-- YOU CAN HAVE CONTENT IN A CHILD COMPONENT  -->
    <app-hipster-ipsum></app-hipster-ipsum>
  </mat-tab>
  <mat-tab label="Third"> 
    <div class="row mr-0 ml-0 pt-3">
      <div class="col">
        <label>Sharing between components with a service</label>
        <textarea class="form-control" [(ngModel)]="service.testArray"></textarea>
      </div>
    </div>
      <div class="row mr-0 ml-0 pt-3">
        <div class="col">
          Dragula (Drag and Drop) Example:  
        </div>
      </div>  
      <div class="row mr-0 ml-0 pt-1">
          <div class="col">
            <ul class="example-dragula-list flex" dragula="VAMPIRES">
              <li class="example-dragula-list-item">Dracula</li>
              <li class="example-dragula-list-item">Kurz</li>
              <li class="example-dragula-list-item">Vladislav</li>
              <li class="example-dragula-list-item">Deacon</li>
            </ul>
          </div>
          <div class="col">
            <ul class="example-dragula-list flex" dragula="VAMPIRES">
              <!-- vamps in here -->
            </ul>
          </div>
        </div>
  </mat-tab>
</mat-tab-group>
</div>
</div>
