<ul class="nav flex-column nav-pills" *ngIf="menuOpen">
    <li role="presentation" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['thing-1']" id="thing1">
      <span>Thing 1</span>
    </li>
    <li role="presentation" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['thing-2']" id="thing2">
      <span>Thing 2</span>
    </li>
    <li role="presentation" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['thing-3']" id="thing3">
      <span>Thing 3</span>
    </li>
    <li role="presentation" class="nav-item" [routerLinkActive]="['active']" [routerLink]="['paging']" id="paging">
      <span>Paging</span>
    </li>
  <!-- ADD LINKS HERE -->
</ul>
  