<div class="row">
    <div class="col-12">
      <h3>
        Dialog Header
        <!-- change me -->
        <mat-icon class="md-16 align-right close" (click)="close()">close</mat-icon>
      </h3>
      <input style="opacity: 0">
      <form #form="ngForm">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              {{message | json}}
            </div>
          </div>
        </div>
        <div class="align-right">
          <button type="button" mat-raised-button color="accent" (click)="save()">
            <mat-icon class="md-16">save</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
  