$break-xsmall: 200px;
$break-small: 320px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

@mixin breakpoint($point) {
    @if $point == xlarge {
        @media (max-width: $break-xlarge) {
            @content;
        }
    }
    @else if $point == large {
        @media (max-width: $break-large) {
            @content;
        }
    }
    @else if $point == medium {
        @media (max-width: $break-medium) {
            @content;
        }
    }
    @else if $point == small {
        @media (max-width: $break-small) {
            @content;
        }
    }
    @else if $point == xsmall {
        @media (max-width: $break-xsmall) {
            @content;
        }
    }
    @else if $point == halfscreen {
        @media (max-height: 800px) {
            @content;
        }
    }

    @else if $point == tablet-landscape {
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
            @content;
        }
    }
    @else if $point == tablet-portrait {
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
            @content;
        }
    }
}
