// Color Variables - primary light theme
$dtg: #aed581;
$ltg: #8bc34a;
$p1: #01579b;
$dp3: darken($p1, 3%);
$dp5: darken($p1, 5%);
$dp8: darken($p1, 8%);
$dbg: #424242;
$dtp1: lighten($p1, 13%);

$btg: #859900;
$bp1: #268bd2;
$bdp3: darken($bp1, 3%);
$bdp5: darken($bp1, 5%);
$bdp8: darken($bp1, 8%);
$bbg: #002b36;
$bdtp1: lighten($bp1, 13%);

// solarized-light-theme 
$sl-orange: #cb4b16;
$sl-blue: #268bd2;
$sl-blue3: darken($sl-blue, 3%);
$sl-blue5: darken($sl-blue, 5%);
$sl-blue8: darken($sl-blue, 8%);
$sl-base: #fdf6e3;
$sl-blue-lighten13: lighten($sl-blue, 13%);

// solarized-dark-theme 
$sd-orange: #cb4b16;
$sd-blue: #268bd2;
$sd-blue3: darken($sd-blue, 3%);
$sd-blue5: darken($sd-blue, 5%);
$sd-blue8: darken($sd-blue, 8%);
$sd-base: #002b36;
$sd-blue-lighten13: lighten($sd-blue, 13%);
@import '_mixins.scss';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AngularBase2020-primary: mat-palette($mat-light-blue, 900);
$AngularBase2020-accent: mat-palette($mat-light-green, 500);

// The warn palette is optional (defaults to red).
$AngularBase2020-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AngularBase2020-theme: mat-light-theme($AngularBase2020-primary, $AngularBase2020-accent, $AngularBase2020-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AngularBase2020-theme);
/* You can add global styles to this file, and also import other style files */

// -----------------------------------------------------
body,
html {

  code,
  kbd,
  pre,
  .img-rounded,
  .img-thumbnail,
  .img-circle,
  .form-control,
  .btn,
  .btn-link,
  .dropdown-menu,
  .list-group-item,
  .input-group-addon,
  .input-group-btn,
  .nav-tabs a,
  .nav-pills a,
  .navbar,
  .navbar-toggle,
  .icon-bar,
  .breadcrumb,
  .pagination,
  .pager *,
  .label,
  .badge,
  .jumbotron,
  .thumbnail,
  .alert,
  .progress,
  .panel,
  .well,
  .modal-content,
  .tooltip-inner,
  .popover,
  .popover-title,
  .carousel-indicators li {
    border-radius: 0 !important;
  }
}

// -----------------------------------------------------
// Toastr CSS Collision fix
#toast-container>div {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

// -----------------------------------------------------
// Loading animation
.splash-loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

// end Loading animation

// -----------------------------------------------------
// Main container for application, all content inside
.app-container {
  position: absolute;
  margin-top: 50px;
  max-width: 100%;
  width: 100%;
  min-height: calc(100vh - 60px);
  overflow: auto;

  @include breakpoint(medium) {
    padding: 0 20px 50px calc(20vw + 15px);
  }

  &.open {
    padding: 8px 20px 50px calc(10vw + 15px);

    @include breakpoint(medium) {
      padding: 8px 20px 50px calc(12vw + 15px);
    }

    @include breakpoint(small) {
      padding: 8px 20px 50px calc(25vw + 15px);
    }
  }

  &.closed {
    padding: 8px 20px 50px 50px;
  }
}

// -----------------------------------------------------
// main content pane for app, 
// all non-navigation components render here
.main-content {
  padding-left: 28px;
  width: 100%;
}

// -----------------------------------------------------
// side menu for navigation - start
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  background-color: #efefef;
  padding-right: 0;
  padding-left: 0;
  padding-top: 55px;
  border-right: 1px solid rgba($p1, .125);

  &.open {
    min-width: 10vw;

    @include breakpoint(large) {
      min-width: 11vw;
    }

    @include breakpoint(medium) {
      min-width: 12vw;
    }

    @include breakpoint(small) {
      min-width: 25vw;
    }
  }

  &.closed {
    width: 40px;
  }

  .menu-collapse-button {
    position: absolute;
    right: 0;
  }

  #menu-button-top {
    top: 50px;
  }

  #menu-button-bottom {
    bottom: 50px;
  }

  .nav {
    margin-top: 38px;
    border-top: 1px solid rgba($p1, .125);

    li {
      padding: 8px;
    }

    li.active,
    li.active:focus,
    li.active:hover {
      background-color: $p1;

      a {
        color: white;

        &:focus,
        &:hover {
          background-color: $p1;
        }
      }
    }

    li a:hover {
      background-color: rgba($p1, .25);
      color: $p1;
    }

    li.sub-nav {
      padding: 1px 0 0 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 5px;
          padding-left: 15px;
        }

        li.active {
          background-color: rgba($p1, .5);
        }
      }
    }
  }
}


.nav-pills>li.nav-item {
  color: $p1;
  cursor: pointer;
  overflow: hidden;

  &:hover:not(.active) {
    background-color: rgba($p1, .35);
    color: white;
  }

  @include breakpoint(medium) {
    font-size: 65%;
  }
}

li.nav-item.active {
  background-color: $p1;
  color: white;

  &:hover,
  &:focus {
    background-color: $p1;
  }
}

// side menu for navigation - end
// -----------------------------------------------------

// Top Nav bar element - contains 
// Company Logo and the Theme menu - start
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 !important;
  background-color: #121212;
  padding: 0;
  color: rgba(255, 255, 255, .55);
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#111));
  background: -moz-linear-gradient(top, #1e1e1e, #111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e1e1e', endColorstr='#111111');
  border-bottom: 1px solid rgba(white, .125);
  text-align: center;
  margin-bottom: 0;
  z-index: 1000;
}

.co_logo {
  width: 120px;
  height: 50px;
  margin-left: calc(50% - 60px);
}

// Top Nav bar element - end 
// -----------------------------------------------------

// Footer - start
footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  padding: 8px 0;
  background-color: #121212;
  color: rgba(255, 255, 255, .55);
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#111));
  background: -moz-linear-gradient(top, #1e1e1e, #111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e1e1e', endColorstr='#111111');
  border-top: 1px solid rgba(white, .125);
}

.copyright {
  margin: 0 1rem;
}

.app-tag {
  margin: 0 1rem;
}

// Footer - end
// -----------------------------------------------------

// Tabs (NgBootstrap Element - May not be used)
// .componentTabs {

//   ul {
//     border-bottom-color: rgba(1, 87, 155, 0.125)
//   }

//   .nav-item.disabled {
//      pointer-events: none;
//      opacity: .5;
//   }

//   .nav-tabs a.nav-link {
//     color: $p1;
//     border-color: rgba(1, 87, 155, 0.125);
//   }

//   .nav-tabs a.nav-link.active {
//      color: white;
//      background-color: $p1;
//      border-color: rgba(1, 87, 155, 0.125);
//     }

//   .nav-tabs a.nav-link.disabled {
//       color: #a8a8a8;
//     }
//   }
// -----------------------------------------------------

// -----------------------------------------------------
// Functional Positional classes
.flex-span {
  display: flex;
  flex: 1;
}

.flex-div {
  display: flex;
  flex: 1
}

.spacer-span {
  width: 10px;
}

// -----------------------------------------------------
// Overlay when loader is displaying
.cdk-global-overlay-wrapper {
  //background-color: rgba($p1, .65);
}

// -----------------------------------------------------
// Material Overrides
.mat-mini-fab {
  box-shadow: none;
}


// -----------------------------------------------------
// General Section Styles
.section-header {
  button {
    margin-top: -12px;
  }

  padding-bottom: 10px;
  border-bottom: 1px solid rgba($p1, .5);
}

// Used for Lists of items
table {
  //background-color: rgba(white, .5);
  padding: 10px;

  .mat-icon {
    cursor: pointer
  }

  &.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(white, .65);
  }

  &.table tr.thead-dark>th {
    color: $p1; //#32383e
    background-color: #efefef;
    border-color: #ddd;
    font-size: 9pt;

    &.actions-cell {
      color: #32383e;
    }

    &>a.pseudo-link.selected {
      color: $ltg;

      &.asc::after {
        content: '▼';
        margin-left: 5px;
      }

      &.desc::after {
        content: '▲';
        margin-left: 5px;
      }
    }
  }
}

.spacer {
  display: block;
  width: 100%;
  height: 1em;
}

.required:after {
  content: " *";
  color: rgba(red, .5);
}

.form-control.ng-invalid,
.form-control.invalid {
  border-color: rgba(red, .25);
  background-color: rgba(red, .125);
}

.form-control[readonly] {
  background-color: #f9f9f9;
  opacity: 1;
}

.actions-cell {
  text-align: right;

  .mat-icon {
    margin-left: 5px;

    &:active {
      opacity: .76;
    }
  }
}

.pseudo-link {
  color: $p1;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

label {
  position: relative;
  display: block;

  .material-icons.md-16 {
    display: inline;
    cursor: pointer;
    font-size: 16px !important;
    float: right;

    &:active {
      opacity: .76;
    }
  }
}

.close {
  color: grey;
  cursor: pointer;
}

.mat-paginator {
  border: 1px solid rgba($p1, .125);
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.align-right {
  text-align: right;
}

td.clickable-cell {
  cursor: pointer;
}

td-search-box.open {
  border-bottom: 1px solid rgba(1, 87, 155, 0.125);
}

.table-hover>tbody>tr:hover {
  background-color: #f8f8f8;
  color: $p1;
}

.mat-calendar {
  width: 245px;
  height: 300px;
}

.selectedRow {
  background-color: rgba($p1, .125);
}

.running-progress.mat-progress-spinner {
  display: inline;
  margin-right: 20px;

  svg {
    width: 16px !important;
    height: 16px !important;
  }
}

.mat-form-field-infix {
  margin-top: -5px;
}

button.link-button {
  margin-right: 8px;
}

span.small.font-italic {
  position: absolute;
  font-size: 8pt;
  color: #b9b9b9;
}

.small-label {
  position: absolute;
  right: 0;
  top: 15px;
  font-style: italic;
  font-size: 8pt;
  color: #b9b9b9;
}

// Log Table Styles -- app manager
.log-table {
  .filtered-logs {
    font-size: 10pt;
  }

  td.log-data {
    word-break: break-all;
  }

  span.highlight {
    color: red;
    background-color: yellow;
  }

  tr.normal-startup {
    background-color: rgba(123, 220, 123, .45);
  }

  tr.warning {
    background-color: rgba(252, 255, 0, .45);
  }

  tr.error-application-generated {
    background-color: rgba(252, 127, 0, .45);
  }

  tr.error-exception {
    background-color: rgba(255, 0, 0, .60);
  }

  tr.normal-shutdown {
    background-color: rgba(213, 167, 127, .45);
  }

  tr.information {
    background-color: rgba(172, 172, 172, .05);
  }

  tr.e-mail {
    background-color: rgba(134, 164, 248, .45);
  }
}

.log-date-range {
  padding-top: 8px;
  margin-bottom: -16px;

  span {
    margin-bottom: -18px;
  }
}

.small-tooltip {
  font-size: 10pt;
}

.benefit-code-badge {
  margin-right: 5px;
}

input.date-picker {
  // display: inline-block;
  // width: 85%;
}

.date-picker-button {
  //float: right;
}


.mat-tab-group .mat-tab-label {
  opacity: .75;

  &.mat-tab-label-active {
    color: $p1;
  }
}

// DRAGULA //
// -----------------------------------------------------
// see https://www.npmjs.com/package/dragula for more info
// see https://github.com/valor-software/ng2-dragula

.example-dragula-list {
  list-style-type: none;
  padding: 1em;
  border: 1px dotted rgba(black, .25);
  li.example-dragula-list-item {
    cursor: pointer;
  }
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
  border: 2px dashed rgba(lightblue, .5);

  td {
    width: inherit;
  }
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  background-color: $dtg;
}

// Active Directory Employee Styles 
// -----------------------------------------------------

.employee-image-wrapper {
  position: relative;

  .employee-image {
    width: 100%;
    height: 100%;
    max-width: 100px;
  }

  .employee-image-edit {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 100px;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 3px;
    background-color: rgba(black, .25);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }

  .tmpCancel {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 100px;

    .mat-icon {
      position: relative;
      top: -10px;
      right: -85px;
      cursor: pointer;
    }
  }
}

// -----------------------------------------------------
// dark-theme 
@import '_dark.scss';

// -----------------------------------------------------
// solarized-dark-theme 
@import '_solarized-dark.scss';

// -----------------------------------------------------
// solarized-light-theme
@import '_solarized-light.scss';


// -----------------------------------------------------
// Color Theme Selector - Start
.theme-button {
  mat-icon {
    color: $dtg !important;
  }

  color: $dtg;
  background-color: #303030 !important;

  &.dark-theme {
    mat-icon {
      color: $p1 !important;
    }

    background-color: white !important;
    color: $p1;
  }
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-grid-list {
  background-color: black;
}

.mat-grid-tile {
  position: relative;
  cursor: pointer;

  &.active::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 100;
  }

  &.solarized-dark-theme {
    background-color: $sd-base;
    color: $sd-orange;

    &.active::before {
      background: $sd-orange;
    }

  }

  &.solarized-light-theme {
    background-color: $sl-base;
    color: $sl-blue;

    &.active::before {
      background: $sd-blue;
    }
  }

  &.dark-theme {
    background-color: $dbg;
    color: $dtg;

    &.active::before {
      background: $dtg;
    }
  }

  &.light-theme {
    background-color: white;
    color: $p1;

    &.active::before {
      background: $p1;
    }
  }
}

// Color Theme Selector - End
// -----------------------------------------------------